[Unit]
Description=Prometheus node exporter
Documentation=https://prometheus.io https://github.com/prometheus/node_exporter

[Service]
Restart=always
ExecStart=/usr/local/sbin/node_exporter 

[Install]
WantedBy=multi-user.target
